button {
	margin: 1em;
}

/*input.ng-dirty {
	background: flesh;
}*/

.container {
	padding: 10px;
	margin: 20px;
}
h2 {
	font-family: Verdana;
}

.table {
	font-family: Verdana;
	padding: 10px;
	margin:20px;
}


th {
	padding: 10px;
	marging: 5px;
	border-bottom: 1px solid lightgray;
	background-color: lightgray;
}

td {
	border-bottom: 1px solid lightgray;
	margin: 5px;
	padding: 10px;
}

input {
	max-width: 40%;
}

select {
	max-width: 40%;
}

a {
	margin: 10px;
}

.imageContainer {
	width: 45px;
}

.showImage {
	width: 200px;
}