<form name="family.newFamForm" ng-submit="family.addorEditFam()" class="form" novalidate>
  <div class="form-group" ng-class="{'has-error': family.newFamForm.$dirty}">
    <label class="control-label">First Name:</label>
    <input class="form-control" ng-model="family.newFam.firstName" required minlength=3>
    <span class="help-block" ng-show="family.newFamForm.$invalid && family.newFamForm.$dirty">A block of help text that breaks onto a new line and may extend beyond one line.</span>
  </div>
  <div class="form-group" ng-class="{'has-error': family.newFamForm.$dirty}">
    <label class="control-label">Last Name:</label>
    <input class="form-control" ng-model="family.newFam.lastName" required>
    <span class="help-block" ng-show="family.newFam.newFamForm.$error && family.newFamForm.$dirty">A block of help text that breaks onto a new line and may extend beyond one line.</span>
  </div>
  <div class="form-group">
    <label class="control-label">Image URL</label>
    <input type="url" class="form-control" ng-model="family.newFam.img">
  </div>
    <strong>Choose Family:</strong>
    <select class="form-control" ng-model="family.newFam.family">
        <option ng-selected="key===10" ng-repeat="(key, val) in family.cohortOptions" value={{key}}>{{val}}</option>
    </select>
  <input class="btn btn-success" type="submit" value="Save" ng-show="family.newFamForm.$valid">
</form>